@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

/* Variables */
$beige: #FFFBF4;
$black: #4A4A4A;
$gray: #676767;
$white: #fff;
$accents: #FF5A5A, #527AFF, #9771FF, #EF71FF, #4AA4F0, #FFA869;

$bold: 600;
$default-font: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Global Styles */
* {
  margin: 0;
  font-family: $default-font;
}

html, body {
  height: 100%;
}

ul {
  -webkit-padding-start: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: $bold;
  color: $gray;
}

h1 { font-size: 24pt; }
p {
  font-size: 20pt;
  line-height: 2.5;
  color: $black;
}

a {
  font-weight: 600;
  text-decoration: none;
  transition: 200ms opacity linear;

  &:hover {
    opacity: .8;
  }
}

.bold {
  font-weight: $bold;
}

/* Animations */

.fadein {
  transition: 1000ms opacity linear;
  opacity: 1 !important;
}

.fadeout {
  transition: 1000ms opacity linear;
  opacity: 0 !important;
}

/* Panels */

main {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  
  .text {
    display: flex;
    width: 80%;
    background: $beige;

    p {
      margin: auto;
      padding: 0 18%;
      opacity: 0;
    }
    @for $i from 1 through length($accents) {
      a:nth-of-type(#{length($accents)}n+#{$i}) {
        color: nth($accents, $i);
      }
    }
    
  }

  .profile {
    position: relative;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;

    figure {
      width: 300px;
      height: 300px;
      background-size: cover;
      background-position: center;
      border-radius: 100%;
    }
  }

  .links {
    display: flex;
    list-style-type:none;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 8px 0;
    margin: 25px 0;
    border-radius: 20px;

    li {
      a {
        display: block;
        padding: 0 35px;
        width: 25px;
      }
      img {
        width: 100%;
        vertical-align: middle;
        filter: opacity(80%);
      }
    }
  }
}

section {
  height: 100%;
  .container {
    padding: 4em;
  }
}

/* Elements */

.accent-btn {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  position:absolute;
  padding: 12px 25px;
  padding-left: 40px;
  width: 420px;
  font-weight: $bold;
  background: nth($accents, 2);
  color: $white;
  font-size: 18pt;
  bottom: 0;

  &::after {
    width:25px;
    height:25px;
    content: '';
    background: center / contain no-repeat url(img/down.png);
  }
}

