
.About {
  border: 6px double var(--ansi-silver);
  background: var(--ansi-navy);
  a {
    text-decoration: none;
  }
  .blinker {
    animation: 1s blink step-end infinite;
  }
  
}
@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: var(--ansi-white);
  }
}