.App {
  font-family: var(--default-font);
  display: flex;
  flex-direction: row;
  // align-items: flex-end;
}

main {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 2px;
  min-width: 30%;
  top: 0;
  left: 0;
  flex-direction: column;
  transition: all 200ms linear;

  &.hide {
    min-width: 0;
    width: 0;
    div {
      transform: translateX(-50%);
    }
  }
}

.panels {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--beige);
}

section {
  display: flex;
  align-items: center;

  min-height: 100vh;
  div {
    padding: 0 6em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  font-weight: var(--bold);
  color: var(--gray);
}

p {
  font-size: 20pt;
  line-height: 2.5;
  color: var(--black);
}



