nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  // margin-top: 3%;
  right: 0;

  li {
    color: var(--gray);
    list-style-type: none;
    border-right: 4px solid var(--gray);
    height: 100%;

    a {
      display: block;
      height: 100%;
      user-select: none;
      margin-right: -14px;
    }
    span {
      position: absolute;
      font-size: 20px;
      margin-top: 3rem;
      right: 2em;
      color: var(--gray);
      display: none;
    }

    &.active {
      color: var(--accents-2);
      border-right-color: var(--accents-2);
    }

    &:hover {
      color: var(--accents-2);
      border-right-color: var(--accents-2);
      
      & + li {
        color: var(--accents-2);
      }

      span {
        display: block;
      }
    }
    svg {
      fill: currentColor;
    }
  }
}