.Profile {
  transition: all 200ms linear;

  figure {
    width: 300px;
    height: 300px;
    margin: auto;
    background-size: cover;
    border-radius: 100%;
  }
}

.links {
  display: flex;
  list-style-type:none;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  margin: 25px 0;
  border-radius: 20px;

  li {
    a {
      display: block;
      padding: 0 35px;
      width: 25px;
    }
    img {
      width: 100%;
      vertical-align: middle;
      filter: opacity(80%);
    }
  }
}