.Projects {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  
  figure {
    margin: 1em;
    padding: 20px;
    word-wrap: break-word;
    background: white;
  }
}