@font-face {
  font-family: 'DOS';
  src: local('DOS'), url(./fonts/DOS.ttf) format('truetype');
}
:root {
  --bg: #1B2099;
  --accent: #FF7BAC;
  --text: #4A4A4A;
  --gray: #676767;
  --white: #fff;
  --bold: 600;
  --default-font: DOS, "Courier New", Courier, monospace;
  --header-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  // ANSI COLORS
  --ansi-black: #000000;
  --ansi-maroon: #800000;
  --ansi-green: #008000;
  --ansi-olive: #808000;
  --ansi-navy: #000080;
  --ansi-purple: #000080;
  --ansi-teal: #008080;
  --ansi-silver: #c0c0c0;
  --ansi-gray: #808080;
  --ansi-red: #ff0000;
  --ansi-lime: #00ff00;
  --ansi-yellow: #ffff00;
  --ansi-blue: #0000ff;
  --ansi-fuchsia: #ff00ff;
  --ansi-aqua: #00ffff;
  --ansi-white: #ffffff;
}
::selection {
  background: var(--ansi-black);
  color: var(--ansi-white);
}
html {
  scroll-behavior: smooth;
}
html, body, #root {
  margin: 0;
  height: 100%;
}
a {
  color: inherit;
}

.center {
  text-align: center;
}