@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

@import 'global';
@import 'scss-vars';

:root {
  --beige: #FFFBF4;
  --black: #4A4A4A;
  --gray: #676767;
  --white: #fff;
  --bold: 600;
  --default-font: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --header-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  @for $i from 1 through length($accents) {
    --accents-#{$i}: #{nth($accents, $i)};
  }
}
html {
  scroll-behavior: smooth;
}
html, body, #root {
  margin: 0;
  height: 100%;
}
a {
  color: inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
